.DS_Store
.venv/

*.pyc
__pycache__/

instance/

*/.pytest_cache/
=======
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.ini

.idea/
feed_amalgamator/.idea
*.log

configuration/
prototypes/
tests/test_config
tests/test_logs
