{% extends 'base.html' %}
{% block content %}
    <p>
        <a href="{{ url_for("feed.add_server") }}">Add Server</a>
    </p>
    {% if timelines is not none %}
        {% for timeline in timelines %}
            {% for post in timeline %}
                <article>
                    <div class="status">
                        <div class="status-info">
                            <div class="detailed-status-meta">
                                <span class="status-visibility-icon">
                                    {% if post['visibility'] == 'public' %}<i class="fa fa-globe" title="Public"></i>{% endif %}
                                    {% if post['visibility'] == 'unlisted' %}<i class="fa fa-unlock" title="Unlisted"></i>{% endif %}
                                    {% if post['visibility'] == 'private' %}<i class="fa fa-lock" title="Followers only"></i>{% endif %}
                                    {% if post['visibility'] == 'direct' %}<i class="fa fa-at" title="Followers only"></i>{% endif %}
                                </span>
                                ·
                                <i class="fa fa-retweet"></i>
                                <span class="detailed-status-reblogs">{{ post['reblogs_count'] }}</span>
                            </div>
                            <div class="status-avatar">
                                <div class="account-avatar">
                                    <img src="{{ post['account']['avatar'] }}"
                                         alt="avatar"
                                         height="50"
                                         width="50">
                                </div>
                            </div>
                            <span class="display-name">
                                <bdi>
                                    <strong class="display-name-html">{{ post['account']['display_name'] }}</strong>
                                </bdi>
                                <span class="display-name-account">{{ post['account']['acct'] }}</span>
                            </span>
                        </div>
                        <div class="status-content">{{ post['content']|safe }}</div>
                    </div>
                </article>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
